table caption {
	font-size: .9em;
	font-weight: bold;
}

table thead {
	background: #eeeeee repeat-x top left;
	font-size: .9em;
}

table thead tr th {
	border: 1px solid #cccccc;
	font-weight: normal;
	padding: .3em 1.67em .1em 1.67em;
	text-align: left;
}

table tbody tr td {
	padding: .3em 1.5em;
}

table tbody tr.even {
	background: #f3f3f3;
}

table tbody tr.odd {
	background: #fff;
}

table span {
	background-position: center left;
	background-repeat: no-repeat;
	padding: .2em 0 .2em 1.5em;
}

table span.file {
	background-image: url(/static/images/page_white_text.png);
}

table span.folder {
	background-image: url(/static/images/folder.png);
}

#box {
	background-color:#eeeeee; 
	padding:5px;
	border: 1px solid #cccccc;
	border-width: 1px 1px;
}

#menu {
	
}

#footer {
   font-size:75%;
}